In [2]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [3]:
con = duckdb.connect(database = 'dados_duckdb.db', read_only=False)

In [38]:
arquivo = 'z0019_1.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}',sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head()

   NATBR     MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10    100    100  z0019_1.csv 2025-09-04 22:32:46.127426
1  10002   MARTELO  BT50    100   1500  z0019_1.csv 2025-09-04 22:32:46.127426
2  10003     PREGO  BT10    100     50  z0019_1.csv 2025-09-04 22:32:46.127426
3  10004     SERRA  BT50    100    200  z0019_1.csv 2025-09-04 22:32:46.127426
4  10005   MACHADO  BT50    100    100  z0019_1.csv 2025-09-04 22:32:46.127426

In [28]:
#ingest√£o na tabela bronze

con.execute("""
CREATE TABLE IF NOT EXISTS bronze_produtos (
            NATBR VARCHAR,
            MAKTX VARCHAR,
            WERKS VARCHAR,
            MAINS VARCHAR,
            LABST VARCHAR,
            nome_arquivo VARCHAR,
            data_ingestao TIMESTAMP
         )
""")

In [36]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

In [40]:
resultado = con.execute("SELECT * FROM bronze_z0019").fetchdf()
resultado.head()

   NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-09-04 22:22:07.231726
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-09-04 22:22:07.231726
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-09-04 22:22:07.231726
3  10004     SERRA  BT50   100   200  z0019_1.csv 2025-09-04 22:22:07.231726
4  10005   MACHADO  BT50   100   100  z0019_1.csv 2025-09-04 22:22:07.231726

In [39]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019")

In [41]:
con.close()